body{
  font-size:1.5vw
}

@media (max-width : 800px) {
  body{
    font-size:4.0vw;
  }

}
a {
  color: #00B7FF;
}



.text-attent {
  text-align: center;
  margin: 1rem;
  margin-bottom: 2rem;
  font-size: 2rem;
}

footer{
  width: 100%;
}