<!-- Настройка цвета границ (border-primary) -->
<div style="text-align: center;align-content: center">
<!--    <div class="row justify-content-md-center">-->
<!--        <div class="col-md-auto">-->
            <div class="card text-center" style="display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10%;
width: 75%">
                <div class="card" >
                    <div class="card-body">
                      <img id='card_img' width="50%" style="max-width: 15em"/>
                        <h4 class="card-title" id="title_word_test">Animal</h4>
                        <div class="card-text input-group mb-3">

                          <input id="answer_translated" type="text" class="form-control" placeholder="перевод" required/>

                            <button id="check_button" class="btn btn-success">
                              <i class="fas fa-check"></i>
                          </button>
                          <button id="help_button"  class="btn btn-primary">
                              <i class="fas fa-question"></i>
                          </button>
                        </div>
                    </div>

                </div>
            </div>
<!--        </div>-->
<!--    </div>-->
</div>
